{# form-item-style--4.html #}

{% comment %}
{% with field=form.first_line_0 
title=form.title_0 
sizes=form.sizes_0 
fontName=form.fontName_0 
font_style=form.font_style_0 
font_modif=form.font_modif_0 
text_align=form.text_align_0 
inter_bitwin=form.inter_bitwin_0 
inter_before=form.inter_before_0 
inter_after=form.inter_after_0 
marg_left=form.marg_left_0 
marg_right=form.marg_right_0 
first_line=form.first_line_0 
%}
{% endcomment %}


{% with field=form.first_line_4 title=form.title_4 sizes=form.sizes_4 fontName=form.fontName_4 font_style=form.font_style_4 font_modif=form.font_modif_4 text_align=form.text_align_4 inter_bitwin=form.inter_bitwin_4 inter_before=form.inter_before_4 inter_after=form.inter_after_4 marg_left=form.marg_left_4 marg_right=form.marg_right_4 first_line=form.first_line_4 %}

{% include 'form-item-style.html' %}

{% endwith %}